*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.cont-buttons{
    display: flex;
    justify-content: right;
    /* align-items: ; */
    margin-right: 20px;
}

.user-interface{
    margin: 10px 10px;
    user-select: none;
    border: 0;
    width: 100px;
    aspect-ratio: 2/1;
    background-color: #fff;
}

.user-interface:active{
    border: 0.5px solid black;
    background: linear-gradient(180deg, #eee 0%, #ccc 50%, #eee 100%);
}

#page-view{
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginRegister-head{
    text-align: center;
}

.loginRegister-credentials{
    margin: 200px 0 0 200px;

}

/* #login-register{
    width: 90vw;
    height: 90vh;
    border: 1px solid black;
} */
